name: Playwright QA Automation

on:
  push:
  workflow_dispatch:

jobs:
  qa_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: 23f2005520@ds.study.iitm.ac.in - Run QA Playwright Script
        run: node sum_tables.js
